.footer>img{
    width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem ;
    position: relative;
    margin-top: -7rem;

}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
    
}

.f-icons{
    display: flex;
}
.f-icons :nth-child(1){
   padding-right: 1rem;

}
.f-icons :nth-child(2){
    padding-right: 1rem;
 
 }

 .f-icons :nth-child(3){
    padding-right: 1rem;
 
 }